/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
	color: #202c2d;
	font-size: 40px;
	text-shadow:
		0 1px #808d93,
		-1px 0 #cdd2d5,
		-1px 2px #808d93,
		-2px 1px #cdd2d5,
		-2px 3px #808d93,
		-3px 2px #cdd2d5,
		-3px 4px #808d93,
		-4px 3px #cdd2d5,
		-4px 5px #808d93,
		-5px 4px #cdd2d5,
		-5px 6px #808d93,
		-6px 5px #cdd2d5,
		-6px 7px #808d93,
		-7px 6px #cdd2d5,
		-7px 8px #808d93,
		-8px 7px #cdd2d5;

}

a.nav-link {
	text-align: center;
	font-size: 20px;
}


/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 2px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
